{{fields-component data=model.data time=model.time fill=(route-action "fill") radius=model.radius clicked=(route-action "street") stroke=(route-action "stroke")}}
<button id="nextbutton" {{action (route-action "next" model.data)}}>Next</button>
