{{fields-component data=model.data time=model.time fill=(route-action "fill") clicked=(route-action "street") stroke=(route-action "stroke")}}
<button id="nextbutton" {{action (route-action "make" model.data)}}>Make</button>
