.blockwrapper {
    width: 303px;
    height: 303px;
    position: relative;
}
.blockbox-0 {
    position: absolute;
    top: 0px;
    left: 0px;
}
.blockbox-1 {
    position: absolute;
    top: 0px;
    left: 101px;
}
.blockbox-2 {
    position: absolute;
    top: 0px;
    left: 202px;
}
.blockbox-3 {
    position: absolute;
    top: 101px;
    left: 0px;
}
.blockbox-4 {
    position: absolute;
    top: 101px;
    left: 101px;
}
.blockbox-5 {
    position: absolute;
    top: 101px;
    left: 202px;
}
.blockbox-6 {
    position: absolute;
    top: 202px;
    left: 0px;
}
.blockbox-7 {
    position: absolute;
    top: 202px;
    left: 101px;
}
.blockbox-8 {
    position: absolute;
    top: 202px;
    left: 202px;
}
.blockbox {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  width: 99px;;
  height: 99px;
  margin: 1px;
}
.blockbox:nth-child(even) {
  background-color: #ccc;
  color: #000;
}
.box-0 {
    position: absolute;
    top: 0px;
    left: 0px;
}
.box-1 {
    position: absolute;
    top: 0px;
    left: 33px;
}
.box-2 {
    position: absolute;
    top: 0px;
    left: 66px;
}
.box-3 {
    position: absolute;
    top: 33px;
    left: 0px;
}
.box-4 {
    position: absolute;
    top: 33px;
    left: 33px;
}
.box-5 {
    position: absolute;
    top: 33px;
    left: 66px;
}
.box-6 {
    position: absolute;
    top: 66px;
    left: 0px;
}
.box-7 {
    position: absolute;
    top: 66px;
    left: 33px;
}
.box-8 {
    position: absolute;
    top: 66px;
    left: 66px;
}
.box {
  height: 31px;
  width: 31px;
  margin: 1px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.symbolbutton {
  height: 100%;
  width: 100%;
}
.symbolbutton > button {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  line-height: 100% !important;
  text-align: center;
  border: none;
}
.symbolbutton > button:hover {
  background-color: white;
}
/*Taken from: http://tobiasahlin.com/spinkit/*/
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 122px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
// End spinkit
