<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="moduliertersingvogel.nexus.rcpcliente4"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="moduliertersingvogel.nexus.rcpcliente4">
         </property>
         <property
               name="applicationXMI"
               value="moduliertersingvogel.nexus.rcpcliente4/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/moduliertersingvogel.nexus.rcpcliente4/css/default.css">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/moduliertersingvogel.nexus.rcpcliente4/images/">
         </property>
      </product>
   </extension>

</plugin>
