<button id={{buttonid}} class="btn" style="height: 90%;width: 90%;" data-toggle="popover" title="Symbol auswählen" data-content="{{content}}" data-html="true" data-placement="top">
{{cell.symbol}}
</button>
