<button id={{buttonid}} class="selectablefield" data-toggle="popover" onclick="$('[data-toggle=\'popover\']').popover('hide');" title="Symbol auswählen" data-content="{{content}}" data-html="true" data-placement="top">
{{cell.symbol}}
</button>
