<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Store">
            <command
                  commandId="Spiel.load"
                  label="Load"
                  style="push">
            </command>
            <command
                  commandId="Store.Modify"
                  label="Modify"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="Spiel.load"
            name="Load">
         <defaultHandler
               class="store.handler.LoadHandler">
            <parameter
                  name="Spiel.parameter2"
                  value="Spiel.parameter2">
            </parameter>
         </defaultHandler>
      </command>
      <command
            id="Store.Modify"
            name="Modify">
         <defaultHandler
               class="store.handler.ModifyHandler">
            <parameter
                  name="Store.parameter1"
                  value="Store.parameter1">
            </parameter>
         </defaultHandler>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="store.ui.FigureView"
            id="store.ui.FigureView"
            name="FigureView"
            restorable="true">
      </view>
   </extension>

</plugin>
