<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="spielinfo.InfoView"
               minimized="false"
               relationship="stack"
               relative="spiel.ui.View">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="spielinfo.InfoView"
            id="spielinfo.InfoView"
            name="InfoView"
            restorable="true">
      </view>
   </extension>

</plugin>
