<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-auto">
            <h1>Schaffts Du es, den Code zu knacken?</h1>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-auto">
            <p>Folgenden Code musst Du einstellen:</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
    {{#each model.patterns as |pat|}}
        <button type="button" class="col patternchar {{if pat.solved 'btn btn-success' 'btn btn-danger'}}">{{pat.name}}</button>
    {{/each}}
    </div>
    <div class="row justify-content-md-center">
        {{tlstar345-canvas model=model}}
    </div>
</div>
