<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="verwaltung.Perspective"
            id="Verwaltung.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="Verwaltung.application"
            name="Raumschach">
         <property
               name="appName"
               value="Raumschach">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="Verwaltung.neuesSpiel"
            name="Verwaltung.neuesSpiel">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="%menu.label"
               mnemonic="H">
            <command
                  commandId="org.eclipse.ui.help.displayHelp"
                  label="%command.label"
                  mnemonic="H"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="verwaltung.Application"
            id="verwaltung.Application"
            parameter="view">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            defaultEntrypointId="verwaltung.Application"
            favicon="html/images/logo.ico"
            id="verwaltung.branding"
            servletName="view"
            themeId="org.eclipse.rap.design.example.fancy.theme"
            title="Raumschach">
      </branding>
   </extension>
   <extension
         point="org.eclipse.ui.helpSupport">
      <config
            class="help.RAPHelpUI">
      </config>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/html"
            base-name="/html">
      </resource>
   </extension>

</plugin>
