.basestone{
}
.borderstone{
    fill: white;
}
.activestone {
    fill: blue;
}
.solved {
    color: green;
    font-size: 20px;
}
.unsolved {
    color: red;
    font-size: 20px;
}
.patternchar {
    margin: 2px;
}
